/**
 * Compile settings are in .vscode/settings.json
 * Files are compiled to /css for development and /dist/css for build
 */

// ==========================================================================
// Variable Overrides
// ==========================================================================

//
// Colors
// ==========================================================================
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700");

$theme-colors: (
  "primary": #26B1FF,
  "secondary":#0E425F,
  "light":#96B7C9,
  "lighter":#F1F8FC,
  "danger": #ff4136
);


// * Import Bootstrap * //
@import "../node_modules/bootstrap/scss/bootstrap.scss"; // Import all of Bootstrap

// ==========================================================================
// Typography
// ==========================================================================

// * Enable responsive font sizes * //
$enable-responsive-font-sizes: true;


html, body {
  font-size: 16px; // Base font size
  font-family: "Poppins", "Nunito", "Proxima Nova", sans-serif;
  height: 100%;    // Cover Full Screen
  width: 100%;     // Cover Full Screen
  margin-top:37px; // Compensate for fixed navbar
}

//
// Typography
// ==========================================================================
h1,h2,h3,h4,h5,h6 { display:block; }

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  @include rfs(64);
}
h2 {

}
h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  @include rfs(48);
}
h4 {

}
h5 {
  @include rfs(24);
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
h6 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 20px;
  letter-spacing: 0.15px;
}
p {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.body-2 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.25px;
}
.overline {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: block;
}


// ==========================================================================
// Generic Styles
// ==========================================================================
#_heroSection { height:auto; min-height: calc(100vh - 74px); display: flex; align-items: center; }

// ==========================================================================
// Navbar Styles
// ==========================================================================

#_primary-navigation {
  transition: 0.5s ease padding, box-shadow 0.5s ease;
  &.tiny {
    padding: 0.5rem 1rem;
    background: #aaa;
    box-shadow: 0px 4px 12px rgba(21, 157, 246, 0.2);
  } 
}

#_primary-navigation {
  padding: 1rem 1rem;
}

/* change the brand and text color */
#_primary-navigation #_primary-navigation,
#_primary-navigation #_primary-navigation {
 /* Or... Not?? */
}

/* change the link color */
#_primary-navigation .nav-link {
  color: map-get($theme-colors, "light");
  transition: 0.5s ease color;
}

/* change the color of active or hovered links */
#_primary-navigation .nav-item.active .nav-link,
#_primary-navigation .nav-item:hover .nav-link {
  color: map-get($theme-colors, "primary")
}

/* for dropdown only - change the color of droodown */
#_primary-navigation .dropdown-menu {
  background-color: #ff5500;
}
#_primary-navigation .dropdown-item {
  color: #ffffff;
}
#_primary-navigation .dropdown-item:hover,
#_primary-navigation .dropdown-item:focus {
  color: #333333;
  background-color: rgba(255,255,255,.5);
}

// ==========================================================================
// Footer Styles
// ==========================================================================
#custom-footer{
  text-align: center;
  padding: 30px;
  background-color: #282828;
  color: white;
  position: relative;
  z-index: 2;
}
.footer-split{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2em;
  color: $gray-100;
}
footer > hr{
  background-color: white;
  width: 60%;
}
.footer-link{
  color: white;
}
.footer-link:hover{
  color: white;
  text-decoration: underline;
}
@media (max-width: 991px) {
  .footer-link{
    width: 100%;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .footer-split{
    display: none;
  }
}
// ==========================================================================
// Home Page Styles
// ==========================================================================



// ==========================================================================
// About Page Styles
// ==========================================================================


// ==========================================================================
// Contact Page Styles
// ==========================================================================



// ==========================================================================
// Pricing Page Styles
// ==========================================================================



// ==========================================================================
// FAQ Page Styles
// ==========================================================================
